@import "normalize";
@import "../font/font";
@import "swiper.min";
@import "swiper";

/*
ui - файлы
*/
@import './ui/button';
@import './ui/input.scss';

@import "_helpers";
@import "template";


/*
глобальные/повторяющиеся стили
*/
.line {
  border-bottom: solid 1px var(--color-line-gray);
}
a {
  color: var(--color-c-black);
  transition: 200ms;
}
a:hover {
  color: var(--color-main);
}
.text-center {
  text-align: center;
}
.icon {
  --icon-size: 15px;
  fill: var(--color-c-black);
  width: var(--icon-size);
  height: var(--icon-size);
}

.--clamp {
  --clamp: 5;
  display: -webkit-box;
  -webkit-line-clamp: var(--clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__nav::-webkit-scrollbar {
  height: 5px;
  background-color: var(--color-ligth-blue);
}
.header__nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-main);
}
.header__nav ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--color-main);
}
.w100 {
  width: 100%;
}
.offer__form {
  --padding: 20px;
  border: solid 1px var(--color-c-black);
  border-radius: var(--b-radius);
  overflow: hidden;
}
.offer__form-content {
  padding: calc(var(--padding) / 2) var(--padding);
}
.offer__form-head {
  text-align: center;
  background: var(--color-c-gray);
  padding: 5px 0;
  border-bottom: 1px solid var(--color-c-black);
}
.offer__form-sub {}
.offer__form-fields {}