html, body {
  font-family: Commissioner, sans-serif;
}
$adaptive:(
        xl:1440px,
        l:1024px,
        m:768px,
        s:425px,
        xs:320px,
);
@mixin size($breakpoint) {
  @if map-has-key($adaptive, $breakpoint) {
    @media screen and (max-width: #{map-get($adaptive, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}






