html, body {
  font-family: Commissioner, sans-serif;
}
$adaptive:(
        l:992px,
        m:768px,
        s:480px,
        sx:375px,
        xs:320px,
);
@mixin size($breakpoint) {
  @if map-has-key($adaptive, $breakpoint) {
    @media screen and (max-width: #{map-get($adaptive, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
:root {
  --b-radius: 5px;
}
body {
  font: Commissioner, Arial, Helvetica, sans-serif;
}

.bg-gray-border {
  background: var(--color-c-gray);
  padding: 20px;
  border: solid 1px var(--color-c-gray);
  border-radius: var(--b-radius);
}
.article {
  padding: 20px 0;
}
.article__head {
  display: grid;
  grid-template-columns: 240px repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 40px;
  @include size(m) {
    grid-template-columns: 1fr;
  }
}
.offer__sub {
  @include size(m) {
    margin-bottom: 20px;
  }
}
.article__img {}
.article__img img {}
.article__offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offers {}
.article__form {}
.article__content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include size(m) {
    grid-template-columns: 1fr;
  }
}
.article__content-item {}
.advantage {
  margin-bottom: 20px;
}
.content-title {

}
.excellence__list {}
.excellence__item {
  --icon: 35px;
  display: grid;
  grid-template-columns: var(--icon) 1fr;
  align-items: center;
  gap: calc(var(--icon) / 2);
  margin-bottom: calc(var(--icon) / 2);
}
.excellence__item-icon svg {
  --icon-size: var(--icon);
}
.excellence__item-text {}
.price__options {
  margin-bottom: 20px;
}
.offer__sub {

}
.article__img img {
  width: 100%;
}
.offer__sub .date {
  font-weight: 600;
}
.offer__descr {
  display: flex;
  gap: 15px;
}
.arrow-right {
  --size: 40px;
  width: 0;
  height: 0;
  border-top: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  border-left: calc(var(--size) + 5px) solid var(--color-c-gray);
  @include size(s) {
    display: none;
  }
}
.reviews__item {
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 1em;
  display: block;
  transition: 200ms;
}
.reviews__item:hover {
  color: var(--color-main);
}
.offer__form-sub {
  font-size: 14px;
  margin-bottom: 0.5em;
}
.specialist__slider {
  max-width: 376px;
  @include size(sx) {
    max-width: 350px;
  }
  @include size(xs) {
    max-width: 280px;
  }
}
.slide {
  max-height: 170px;
  cursor: pointer;
}


[draggable] {
  user-select: none;
}